/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

*{    
    box-sizing: border-box;
    margin: 0 auto;
}

body{
    width: 100vw;
    background-color: lightgray;
}

.button-row{
    background-color: lightgray;
    border-radius: 5px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-end;    
    align-items: center; 
}
.button-row button{
    margin-right: 30px;
}

.urlBox, .urlBox div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
}

.mat-nav-list, .mat-list-item a{
    text-decoration: none;
    list-style-type: none;
    margin-left: 15px;
    color: rgb(42, 66, 134);
}
.example-full-width, .example-form {
    width: 100%;
    margin-left: 15px;
  }

  .example-full-width {
      width: 50%;
  }
 